//- index.jade
extends ./layout.jade

block row-content
  div.container
    div.row.margin-bottom
      h3.header-text Work with Dialogs
        a.dialog-selection-link(style='display:none;', href='javascript:;') +
      div.dialog-selection
        div.col-lg-4.col-md-6.col-xs-12
          div.new-dialog-container#new-dialog.clearfix
            h3.dialog-flow-title +
            div.new-dialog-flow-content.clearfix
              form.mar10r.form-horizontal.dialog-form(method='post', enctype='multipart/form-data')
                div.col-lg-12.col-md-12.col-xs-12.new-dialog-input-container
                    .form-group
                      .col-lg-12
                        input#name.form-control(type='text', placeholder='Name', name='name',required)
                    .form-group
                      .col-lg-12
                        input#file.form-control(type='file', name='file',required)
                div.col-lg-12.col-md-12.col-xs-12.text-right
                  button.create-btn.btn-default.btn Upload
          div#new-dialog-loading.dialog-loading.new-dialog-container(style='display:none')
            div.text-center.new-dialog-container-loading
              img.watson-loading-gif(src='images/loading-indicator.svg')
        div.dialog-container
        div.col-lg-4.col-md-6.col-xs-12.dialogs-loading.text-center
          img.watson-loading-gif(src='images/loading-indicator.svg')
        div.col-lg-4.col-md-6.col-xs-12.text-center.dialogs-error
          div.errorMsg

  div.row.conversation-div()
    div.container
      h3.header-text Have a conversation
      div.col-lg-6.col-md-6.col-xs-12
        h4.green-title Flow
        div.conversation-flow-container.clearfix
          div.col-lg-12.col-md-12.col-xs-12
            div.conversation-well.conversation-container.clearfix
          div.col-lg-10.col-md-10.col-xs-8.no-padding-right
            input.user-input.form-control#response-input(type='text', placeholder='Type a response')
          div.col-lg-2.col-md-2.col-xs-4.text-right.no-padding-left
            button.input-btn.btn.btn-block#send-btn Send
      div.col-lg-6.col-md-6.col-xs-12
        h4.green-title Information
        div.col-lg-12.col-md-12.col-xs-12
          div.information-container
        h4.green-title Profile
        div.col-lg-12.col-md-12.col-xs-12
          div.profile-container
  div(style='display:none')
    div.dialog-template
      div.col-lg-4.col-md-6.col-xs-12
        div.new-dialog-container.clearfix.dialog-info
          h3.dialog-name-span.exist-dialog-flow-title
          div.dialog-links(style='visibility:hidden;')
            //- a.edit(href="javascript:;") edit
            //- |  | 
            //- a.replace(href="javascript:;") replace
            //- |  | 
            a.delete(href="javascript:;") delete
        div.dialog-loading.new-dialog-container(style='display:none')
          div.text-center.new-dialog-container-loading
            img.watson-loading-gif(src='images/loading-indicator.svg')